<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Categoria: ' + ${category}">Categoria</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="left">
            <a th:href="@{/store}" class="store-link">
   		 		<h1 class="store-name">Loja Desportiva</h1>
			</a>
               
            </div>

            <div class="right profile-container">
                <button id="profile-btn">👤</button>
                <div class="profile-menu" id="profile-menu">
                    <p>Opção 1</p>
                    <p>Opção 2</p>
                </div>
            </div>
        </div>

        
        <nav class="categories">
        	<a th:href="@{/store/products}">Todos os Produtos</a>
            <a th:each="category : ${categories}"
               th:href="@{/store/products/category/{id}(id=${category.id})}"
               th:text="${category.name}">Categoria</a>
        </nav>
    </header>

    <main>
        <section class="category-products">
            <h2 th:text="'Categoria: ' + ${category.name}">Categoria</h2>
            <div class="product-list">
                <a class="product-card" th:each="product : ${products}"
                   th:href="@{'/store/products/' + ${product.id}}">
                    <img th:src="@{${product.image}}" th:alt="${product.name}" />
                    <h3 th:text="${product.name}">Nome do Produto</h3>
                    <p th:text="'€' + ${product.price}">Preço</p>
                </a>
            </div>
        </section>
    </main>

    <script>
        const profileBtn = document.getElementById("profile-btn");
        const profileMenu = document.getElementById("profile-menu");

        profileBtn.addEventListener("click", () => {
            profileMenu.classList.toggle("show");
        });
    </script>
</body>
</html>
