<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Loja de Desporto</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<header>
		<div class="top-bar">
			<div class="left">
				<a th:href="@{/}" class="store-link">
					<h1 class="store-name">Loja Desportiva</h1>
				</a>
			</div>

			<div class="right profile-container">
				<button id="profile-btn">👤</button>
				<div class="profile-menu" id="profile-menu">
						<a th:href="@{/userSettings}">Definições</a>
						<p>Log out</p>
				</div>
			</div>
		</div>

		<nav class="categories">
			<a th:href="@{/products}">Todos os Produtos</a>
			<a th:each="category : ${categories}"
				th:href="@{'/products/category/' + ${category.name}}"
				th:text="${category.name}">Categoria</a>
		</nav>
	</header>

	<main>
		<section class="featured-products">
			<h2>Últimos Produtos</h2>
			<div class="product-list">
				<!-- Itera sobre a lista de produtos do model -->
				<a class="product-card" th:each="product : ${latestProducts}"
					th:href="@{'/products/' + ${product.id}}"> <img
					th:src="@{${product.image}}" th:alt="${product.name}" />
					<h3 th:text="${product.name}">Nome do Produto</h3>
					<p th:text="'€' + ${product.price}">Preço</p>
				</a>
			</div>
		</section>
	</main>

	<script>
    const profileBtn = document.getElementById("profile-btn");
    const profileMenu = document.getElementById("profile-menu");

    profileBtn.addEventListener("click", () => {
      profileMenu.classList.toggle("show");
    });
  </script>
</body>
</html>
